.esm-toc-tray--expanded {
  margin-left: 15rem;
  transition: all .5s ease;
}
.esm-toc-tray .layout-container {
  margin-left: 5em;
}
.esm-toc-tray--expanded .layout-container {
  margin-left: 3em;
}
.esm-toc {
  background-color: #f5f5f2;
  outline: solid 1px #bfbfbf;
  bottom: 0;
  color: #565656;
  left: 0;
  position: fixed;
  line-height: 2;
  padding-top: 140px;
  top: 0;
  transition: all .5s ease;
  width: 250px;
  z-index: 100;
}
.esm-toc .fas {
  font-size: 1.4em;
}
.esm-toc__items {
  cursor: pointer;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
.esm-toc__item {
  border-bottom: 1px solid #bfbfbf;
}
.esm-toc__item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.esm-toc__item--active:hover {
  background: none;
}
.esm-toc .esm-toc__item--active {
  background: #fff;
  box-shadow: inset 4px 0 0 #61b4fe;
}
.esm-toc__item:first-of-type {
  border-top: 1px solid #bfbfbf;
}
.esm-toc__item-children {
  display: none;
  list-style-type: none;
  margin-bottom: 12px;
  margin-left: 0;
  margin-top: -5px;
  padding-left: 41px;
}
.esm-toc .esm-toc__item--active > .esm-toc__item-children {
  display: block;
}
.esm-toc__toggle {
  bottom: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.esm-toc .esm-toc__collapse,
.esm-toc .esm-toc__collapse-text {
  display: inline-block;
}
.esm-toc.esm-toc--collapsed .esm-toc__collapse,
.esm-toc .esm-toc__expand {
  display: none;
}
.esm-toc.esm-toc--collapsed .esm-toc__expand {
  display: inline-block;
}
/* TOC Links */
.esm-toc__link {
  align-items: center;
  display: flex;
  padding: 12px 15px;
  transition: padding 0.3s;
}
.esm-toc__icon-wrapper {
  display: flex;
  margin-right: 8px;
  width: 18px;
}
.esm-toc__link_text {
  flex: 1;
}
.esm-toc .esm-toc__item--active .esm-toc__link_text {
  color: #61b4fe;
  font-weight: bold;
}
.esm-toc .esm-toc__item--active .esm-toc__icon {
  color: #61b4fe;
}
/* Collapsed Status*/
.esm-toc--collapsed {
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.16);
  width: 50px;
}
.esm-toc--collapsed .esm-toc__link_text,
.esm-toc--collapsed .esm-toc__collapse-text {
  display: none;
}
.esm-toc--collapsed .esm-toc__item--active,
.esm-toc--collapsed .esm-toc__item--active .esm-toc__icon,
.esm-toc--collapsed .esm-toc__item:hover {
  background: #61b4fe;
  color: #fff;
}
.esm-toc--collapsed .esm-toc__item--active > .esm-toc__item-children,
.esm-toc--collapsed .esm-toc__item:hover > .esm-toc__item-children {
  display: none;
}
.esm-toc--collapsed .esm-toc__icon-wrapper {
  margin-right: 0;
}
/* Child links */
.esm-toc__item-child .esm-toc__link {
  padding: 0;
  line-height: 1.6em;
}
